@page
@model DummyRoster.Web.Customer.DummyRosterFeature.Pages.CustomerModel

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer</title>
</head>
<body>
</body>
</html>
