@using DummyRoster.Common.EntityModel.Models
@model IEnumerable<Form>

<h2>@ViewData["Title"]</h2>

<table>
  <caption>@ViewData["Title"] registered in the management</caption>
  <thead>
    <tr>
      <th>Id</th>
      <th>Todo</th>
      <th>Todo</th>
      <th>Todo</th>
      <th>Todo</th>
    </tr>
  </thead>
  <tbody>
    @if (Model is not null)
    {
      @foreach (Form item in Model)
      {
        <tr>
          <td>
            @Html.DisplayFor(
              modelItem => item.Id
            )
          </td>
          <td>
            todo
          </td>
          <td>
            todo
          </td>
          <td>
            todo
          </td>
          <td>
            todo
          </td>
        </tr>
      }
    }
  </tbody>
</table>
