@{
    ViewData["Title"] = "Management";
}

<h3 class="display-3">@ViewData["Title"]</h1>

<div class="text-center">
    <h5 class="display-4">Query employees from web API</h3>
    <form asp-action="Employees" method="get">
        <input name="name" placeholder="type a name">
        <input type="submit">
    </form>
</div>
