@{
    ViewData["Title"] = "Management";
}

<h3 class="display-3">@ViewData["Title"]</h1>

    <div class="card m-3" style="width: 20rem;">
        <h5 class="card-header">Query Employees</h5>
        <div class="card-body">
            <h5 class="card-title">get data from API</h5>
            <form asp-action="Employees" method="get">
                <div class="mb-3">
                    <input class="form-control" name="name" type="text" placeholder="type a name">
                </div>
                <input class="btn btn-outline-primary" type="submit" value="Submit">
            </form>
        </div>
    </div>

    <div class="card m-3" style="width: 20rem;">
        <h5 class="card-header">Query Customers</h5>
        <div class="card-body">
            <h5 class="card-title">get data from API</h5>
            <form asp-action="Customers" method="get">
                <div class="mb-3">
                    <input class="form-control" name="name" type="text" placeholder="type a name">
                </div>
                <input class="btn btn-outline-primary" type="submit" value="Submit">
            </form>
        </div>
    </div>

    <div class="card m-3" style="width: 20rem;">
        <h5 class="card-header">Query Suppliers</h5>
        <div class="card-body">
            <h5 class="card-title">get data from API</h5>
            <form asp-action="Suppliers" method="get">
                <div class="mb-3">
                    <input class="form-control" name="name" type="text" placeholder="type a name">
                </div>
                <input class="btn btn-outline-primary" type="submit" value="Submit">
            </form>
        </div>
    </div>

    <div class="card m-3" style="width: 20rem;">
        <h5 class="card-header">Query Carriers</h5>
        <div class="card-body">
            <h5 class="card-title">get data from API</h5>
            <form asp-action="Carriers" method="get">
                <div class="mb-3">
                    <input class="form-control" name="name" type="text" placeholder="type a name">
                </div>
                <input class="btn btn-outline-primary" type="submit" value="Submit">
            </form>
        </div>
    </div>

    <div class="card m-3" style="width: 20rem;">
        <h5 class="card-header">Query Addresses</h5>
        <div class="card-body">
            <h5 class="card-title">get data from API</h5>
            <form asp-action="Addresses" method="get">
                <div class="mb-3">
                    <input class="form-control" name="name" type="text" placeholder="type a name">
                </div>
                <input class="btn btn-outline-primary" type="submit" value="Submit">
            </form>
        </div>
    </div>

    <div class="card m-3" style="width: 20rem;">
        <h5 class="card-header">Query Credentials</h5>
        <div class="card-body">
            <h5 class="card-title">get data from API</h5>
            <form asp-action="Credentials" method="get">
                <div class="mb-3">
                    <input class="form-control" name="name" type="text" placeholder="type a name">
                </div>
                <input class="btn btn-outline-primary" type="submit" value="Submit">
            </form>
        </div>
    </div>

    <div class="card m-3" style="width: 20rem;">
        <h5 class="card-header">Query Categories</h5>
        <div class="card-body">
            <h5 class="card-title">get data from API</h5>
            <form asp-action="Categories" method="get">
                <div class="mb-3">
                    <input class="form-control" name="name" type="text" placeholder="type a name">
                </div>
                <input class="btn btn-outline-primary" type="submit" value="Submit">
            </form>
        </div>
    </div>

    <div class="card m-3" style="width: 20rem;">
        <h5 class="card-header">Query Products</h5>
        <div class="card-body">
            <h5 class="card-title">get data from API</h5>
            <form asp-action="Products" method="get">
                <div class="mb-3">
                    <input class="form-control" name="name" type="text" placeholder="type a name">
                </div>
                <input class="btn btn-outline-primary" type="submit" value="Submit">
            </form>
        </div>
    </div>

    <div class="card m-3" style="width: 20rem;">
        <h5 class="card-header">Query Forms</h5>
        <div class="card-body">
            <h5 class="card-title">get data from API</h5>
            <form asp-action="Forms" method="get">
                <div class="mb-3">
                    <input class="form-control" name="name" type="text" placeholder="type a name">
                </div>
                <input class="btn btn-outline-primary" type="submit" value="Submit">
            </form>
        </div>
    </div>

    <div class="card m-3" style="width: 20rem;">
        <h5 class="card-header">Query Invoices</h5>
        <div class="card-body">
            <h5 class="card-title">get data from API</h5>
            <form asp-action="Invoices" method="get">
                <div class="mb-3">
                    <input class="form-control" name="name" type="text" placeholder="type a name">
                </div>
                <input class="btn btn-outline-primary" type="submit" value="Submit">
            </form>
        </div>
    </div>
