@{
  ViewData["Title"] = "StoaApp";
}
@model PostModel

<div class="text-center">
  <h1 class="display-4">Create</h1>
  <div class="mb-3 row">
    <form class="row g-3" asp-action="Create" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="caption" class="form-label">Caption</label>
        <input class="form-control" type="text" id="caption" asp-for="Caption">
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input class="form-control" type="text" id="description" asp-for="Description">
      </div>
      <div class="mb-3">
        <label for="concept" class="form-label">Concept</label>
        <input class="form-control" type="file" id="concept" asp-for="Concept">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Submit</button>
      </div>
    </form>
  </div>
</div>
