@{
  ViewData["Title"] = "StoaApp";
}
@model PostModel

<div class="text-center">
  <h1 class="p-3 display-4">Create</h1>
</div>
<div class="mb-3 row">
  <form asp-action="Create" enctype="multipart/form-data">
    <label for="caption" class="col-sm-2 col-form-label col-form-label-lg">Caption</label>
    <div class="col-sm-10">
      <input class="form-control form-control-lg" type="text" id="caption" asp-for="Caption" required>
      <div id="captionHelp" class="form-text">
        some help for the caption field
      </div>
    </div>
    <label for="description" class="col-sm-2 col-form-label col-form-label-lg">Description</label>
    <div class="col-sm-10">
      <input class="form-control form-control-lg" type="text" id="description" asp-for="Description" required>
      <div id="captionHelp" class="form-text">
        some help for the description field
      </div>
    </div>
    <label for="concept" class="col-sm-2 col-form-label col-form-label-lg">Concept</label>
    <div class="col-sm-10">
      <input class="form-control form-control-lg" type="file" id="concept" asp-for="Concept" required>
      <div id="captionHelp" class="form-text">
        some help for the concept field
      </div>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Submit</button>
    </div>
  </form>
</div>
