@{
  ViewData["Title"] = "Liking";
  List<string>? items = new();
  if (ViewData["schemeProcessedList"] as List<string> != null)
  {
    items = ViewData["schemeProcessedList"] as List<string>;
  }
}

<div class="uk-text-center uk-card-body uk-animation-scale-up uk-transform-origin-top-center">
  <h1 class="uk-heading-large uk-heading-divider">Scheme</h1>
</div>
