@page

@functions {
  public string? DayOfTheWeek { get; set; }
  public void OnGet()
  {
    Model.DayOfTheWeek = DateTime.Now.ToString("dddd");
  }
}

<div class="container p-3">

  <div class="card text-center mt-3">
    <div class="card-header">
      <h2>employee</h2>
    </div>
    <div class="card-body">
      <h5 class="card-title">Employees on day: @Model.DayOfTheWeek</h5>
      <p class="card-text">To find out which Employees are registered in the system.</p>
      <a class="btn btn-primary" href="employee">Employees</a>
    </div>
    <div class="card-footer text-muted">
      card concerning employees
    </div>
  </div>

  <div class="card text-center mt-3">
    <div class="card-header">
      <h2>customer</h2>
    </div>
    <div class="card-body">
      <h5 class="card-title">Customers on day: @Model.DayOfTheWeek</h5>
      <p class="card-text">To find out which Customers are registered in the system.</p>
      <a class="btn btn-primary" href="customer">Customers</a>
    </div>
    <div class="card-footer text-muted">
      card concerning ustomers
    </div>
  </div>

</div>
