@{
    ViewData["Title"] = "PivotUp";
}

<div class="text-center">
    <h1 class="display-4">Download</h1>
    <p>Follow the link to generate and download the <a href="https://localhost:8083/api/pivot">Pivot.xlsx</a> file.</p>
</div>
