@page
@model DummyRoster.Web.Category.DummyRosterFeature.Pages.CategoryModel

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Category</title>
</head>
<body>
</body>
</html>
