@model DummyRoster.Common.EntityModel.Models.Category

<div class="card border-dark m-3" style="max-width: 20rem;">
  <img src="" class="card-img-top" alt="">
  <div class="card-header">
    ID: @Model.Id - Name: @Model?.Name
  </div>
  <div class="card-body text-dark">
    <h5 class="card-title">
      description
    </h5>
    <p class="card-text">
      @Model?.Description
    </p>
  </div>
  <div class="card-body">
    <a href="/" class="card-link">home</a>
  </div>
</div>
