@{
  ViewData["Title"] = "PivotUp";
}

<div class="uk-text-center">
  <h1 class="uk-heading-large">Process</h1>
</div>

<div class="uk-card uk-card-default uk-card-body uk-width-1-1">
  <h3 class="uk-card-title uk-margin-large-bottom">TODO</h3>
  <span uk-spinner="ratio: 5"></span>
</div>
