@{
    ViewData["Title"] = "PivotUp";
    List<string>? items = new();
    if (ViewData["fileNameList"] as List<string> != null)
    {
        items = ViewData["fileNameList"] as List<string>;
    }
    else
    {
        items.Add("");
    }
}

<div class="uk-text-center">
    <h1 class="uk-heading-large">Uploaded</h1>
</div>

<div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title uk-margin-large-bottom">File uploaded to the system</h3>
    <form asp-action="Process" enctype="multipart/form-data">
        <fieldset class="uk-fieldset">
            <legend class="uk-legend">please select a file:</legend>
            <div class="uk-margin">
                <select name="fileName" class="uk-select uk-width-1-1 uk-form-large" aria-label="select">
                    @foreach (var item in @items!)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </div>
            <div class="uk-margin-top">
                <button type="submit" class="uk-button uk-button-primary uk-width-1-1 uk-button-large">submit</button>
            </div>
        </fieldset>
    </form>
</div>
