@{
    ViewData["Title"] = "Liking";
    Liking.Common.Models.ReportModel? report;
    if (ViewData["report"] as Liking.Common.Models.ReportModel != null)
    {
      report = ViewData["report"] as Liking.Common.Models.ReportModel;
    }
    else
    {
      report = new();
    }
}

<div class="uk-text-center uk-card-body uk-animation-scale-up uk-transform-origin-top-center">
    <h1 class="uk-heading-large uk-heading-divider">Report</h1>
</div>

<div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title uk-margin-large-bottom">Processing report.</h3>
    <table class="uk-table uk-table-striped">
      <caption>metrics of model</caption>
      <thead>
        <tr>
            <th>Metrics</th>
            <th>Values</th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td>Accuracy</td>
        <td>report.Accuracy</td>
      </tr>
      <tr>
        <td>Area Under Roc Curve</td>
        <td>report.AreaUnderRocCurve</td>
      </tr>
      <tr>
        <td>Area Under Precision Recall Curve</td>
        <td>report.AreaUnderPrecisionRecallCurve</td>
      </tr>
      <tr>
        <td>F1 Score</td>
        <td>report.F1Score</td>
      </tr>
      <tr>
        <td>Log Loss</td>
        <td>report.LogLoss</td>
      </tr>
      <tr>
        <td>Log Loss Reduction</td>
        <td>report.LogLossReduction</td>
      </tr>
      <tr>
        <td>Positive Precision</td>
        <td>report.PositivePrecision</td>
      </tr>
      <tr>
        <td>Positive Recall</td>
        <td>report.PositiveRecall</td>
      </tr>
      <tr>
        <td>Negative Precision</td>
        <td>report.NegativePrecision</td>
      </tr>
      <tr>
        <td>Negative Recall</td>
        <td>report.NegativeRecall</td>
      </tr>
    </tbody>
    </table>
</div>
