@{
    ViewData["Title"] = "Liking";
    Liking.Common.Models.ReportModel? report;
    if (ViewData["report"] as Liking.Common.Models.ReportModel != null)
    {
      report = ViewData["report"] as Liking.Common.Models.ReportModel;
    }
    else
    {
      report = new();
    }
}

<div class="uk-text-center uk-card-body uk-animation-scale-up uk-transform-origin-top-center">
    <h1 class="uk-heading-large uk-heading-divider">Report</h1>
</div>

<div class="uk-card uk-card-default uk-card-body uk-width-1-1">
    <h3 class="uk-card-title uk-margin-large-bottom">Processing report.</h3>
</div>
