@{
  ViewData["Title"] = "StoaApp";
}

<div class="text-center">
  <h1 class="p-3 display-4">Home</h1>
  <p><a asp-area="" asp-controller="Home" asp-action="Uploaded">
      Uploaded list
    </a></p>
</div>
