@page
@model DummyRoster.Web.Product.DummyRosterFeature.Pages.ProductModel

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product</title>
</head>
<body>
</body>
</html>
