@{
    ViewData["Title"] = "Download";
}

<div class="text-center">
    <h1 class="display-4">Download Pivot.xlsx</h1>
    <p><a href="https://localhost:8083/api/pivot">Pivot.xlsx</a></p>
</div>
