@{
    ViewData["Title"] = "StoaApp";
    var items = ViewData["fileNameList"] as List<string>;
}

<div class="uk-text-center">
    <h1 class="uk-heading-large">Uploaded</h1>
</div>

<div class="uk-card uk-card-default">
    <ul>
        @foreach (var item in @items)
        {
            <li>@item</li>
        }
    </ul>
</div>
