@page
@model DummyRoster.Web.Invoice.DummyRosterFeature.Pages.InvoiceModel

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Invoice</title>
</head>
<body>
</body>
</html>
