@{
    ViewData["Title"] = "knowledge";
    ViewData["SubTitle"] = "uploaded";
}

<div class="card knowledge-card">
    <div class="card-body">
        <h2 class="card-title p-2">
            @ViewData["Title"]
        </h2>
        <h3 class="card-subtitle p-3 text-muted">
            @ViewData["SubTitle"]
        </h3>
        <p class="card-text p-2">List of uploaded dataset:</p>
        <div class="card-footer">
            <form></form>
        </div>
    </div>
</div>
