@{
    ViewData["Title"] = "knowledge";
    ViewData["SubTitle"] = "uploaded";
    List<string>? items = new();
    if (ViewData["datasetList"] as List<string> != null)
    {
        items = ViewData["datasetList"] as List<string>;
    }
    else
    {
        items.Add("");
    }
}

<div class="card knowledge-card">
    <div class="card-body">
        <h2 class="card-title p-2">
            @ViewData["Title"]
        </h2>
        <h3 class="card-subtitle p-3 text-muted">
            @ViewData["SubTitle"]
        </h3>
        <p class="card-text p-2">List of uploaded dataset:</p>
        <div class="card-footer">
            <form asp-action="Process" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="unique" class="form-label">Please, select a file from your filesystem.</label>
                    <select name="unique" class="form-select form-select-lg mb-3">
                        @foreach (var item in @items!)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-outline-primary btn-lg">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
