@{
  ViewData["Title"] = "PivotUp";
}

<div class="uk-text-center">
  <h1 class="uk-heading-large">Ledger</h1>
  <p>
    <a asp-area="" asp-controller="Ledger" asp-action="Generate">
      <span title="download workbook Pivot" uk-icon="icon: download; ratio: 4"></span>
    </a>
  </p>
</div>
