@using DummyRoster.Common.EntityModel.Models
@model IEnumerable<Customer>

<h2>@ViewData["Title"]</h2>

<table>
  <caption>customer list</caption>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Fondation Date</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    @if (Model is not null)
    {
      @foreach (Customer item in Model)
      {
        <!-- todo -->
      }
    }
  </tbody>
</table>
