@page
@model DummyRoster.Web.Pages.CategoryModel;

@{int i = 0;}

<div class="card">

  <div class="card-header">
    <h2 class="display-2">@ViewData["CardTitle"]</h2>
  </div>

  <ul class="list-group list-group-flush">
    @if (Model.Categories is not null)
    {
      @foreach (string item in Model.Categories)
      {
        <li class="list-group-item">@item</li>
      }
    }
  </ul>

</div>
