@page
@model DummyRoster.Web.Pages.FormModel;

<div class="card">
  <div class="card-header">
    <h2 class="display-2">@ViewData["CardTitle"]</h2>
  </div>
  <ul class="list-group list-group-flush">
    @if (Model.Forms is not null)
    {
      @foreach (string item in Model.Forms)
      {
        <li class="list-group-item">@item</li>
      }
    }
  </ul>
</div>
