@page
@using DummyRoster.Common.DataContext.Data
@inject DummyRosterContext dummyRosterContext
@{
  string title = "Gathering";
}

<div class="container p-3">

  <h2 class="display-4">@title</h2>

  <div class="card mt-3">

    <div class="card-header">
      <h2 class="display-5">Suppliers</h2>
    </div>

    <div class="card-body">
      <p>Number of suppliers registered in the system: @dummyRosterContext.Suppliers.Count()</p>
    </div>

  </div>

</div>
