@page
@using DummyRoster.Common.DataContext.Data
@inject DummyRosterContext dummyRosterContext
@{
  string title = "Gathering";
}

<div class="container p-3">

  <div class="card mt-3">

  </div>
  
</div>