@page

@functions {
  public string? Nowadays { get; set; }
  public void OnGet() {
    ViewData["Title"] = "DummyRoster Web";
    Model.Nowadays = DateTime.Now.ToString("dddd");
  }
}

<div>
  <div>
    <h2>DummyRoster Web</h2>
  </div>
  <div>
    <h5>@Model.Nowadays</h5>
    <p>todo</p>
    <a href="#">todo</a>
  </div>
  <div>
    todo
  </div>
</div>
