@page

@functions {
  public string? DayOfTheWeek { get; set; }
  public void OnGet() {
    ViewData["Title"] = "DummyRoster Web";
    Model.DayOfTheWeek = DateTime.Now.ToString("dddd");
  }
}

<div class="card text-center">
  <div class="card-header">
    <h2>@ViewData["Title"] - Employee</h2>
  </div>
  <div class="card-body">
    <h5 class="card-title">Employees on day: @Model.DayOfTheWeek</h5>
    <p class="card-text">To find out which Employees are registered in the system.</p>
    <a class="btn btn-primary" href="#">Employees</a>
  </div>
  <div class="card-footer text-muted">
    card concerning Employees
  </div>
</div>

<div class="card text-center">
  <div class="card-header">
    <h2>@ViewData["Title"] - Customer</h2>
  </div>
  <div class="card-body">
    <h5 class="card-title">Customers on day: @Model.DayOfTheWeek</h5>
    <p class="card-text">To find out which Customers are registered in the system.</p>
    <a class="btn btn-primary" href="#">Customers</a>
  </div>
  <div class="card-footer text-muted">
    card concerning Customers
  </div>
</div>
