@page

@functions {
  public string? Nowadays { get; set; }
  public void OnGet() {
    ViewData["Title"] = "DummyRoster Web";
    Model.Nowadays = DateTime.Now.ToString("dddd");
  }
}

<div class="card text-center">
  <div class="card-header">
    <h2>DummyRoster Web</h2>
  </div>
  <div class="card-body">
    <h5 class="card-title">@Model.Nowadays</h5>
    <p class="card-text">todo</p>
    <a class="btn btn-primary" href="#">suppliers</a>
  </div>
  <div class="card-footer text-muted">
    todo
  </div>
</div>
