@page
@using DummyRoster.Common.EntityModel.Models;
@model DummyRoster.Web.Pages.SupplierModel;

@{int i = 0;}

<div class="card">

  <div class="card-header">
    <h2 class="display-2">@ViewData["CardTitle"]</h2>
  </div>

  <div class="accordion accordion-flush" id="accordionFlushForEmployees">
    @if (Model.Suppliers is not null)
    {
      @foreach (Supplier item in Model.Suppliers)
      {
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapse-@(i)" aria-expanded="false" aria-controls="flush-collapse-@(i)">
              @item
            </button>
          </h2>
          <div id="flush-collapse-@(i++)" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushForEmployees">
            <div class="accordion-body">
              <!-- todo -->
            </div>
          </div>
        </div>
      }
    }
  </div>

</div>
