@using DummyRoster.Common.DataContext.Data

@{
  ViewData["Title"] = "Index Page";
}

<div>
  <h3>Customer query form</h3>
  <form asp-action="Customers" method="get">
    <input type="text" name="name" placeholder="type a name">
    <input type="submit">
  </form>
</div>
