@{
    ViewData["Title"] = "workbook";
    ViewData["SubTitle"] = "index";
    List<string>? items = new();
    if (ViewData["workbookListNames"] as List<string> != null)
    {
        items = ViewData["workbookListNames"] as List<string>;
    }
    else
    {
        items.Add("");
    }
}

<div class="card knowledge-card">
    <div class="card-body">
        <h2 class="card-title p-2">
            @ViewData["Title"]
        </h2>
        <h3 class="card-subtitle p-3 text-muted">
            @ViewData["SubTitle"]
        </h3>
        <p class="card-text p-2">List of workbooks processed by the system and available for download.</p>
        <div class="card-footer">
            <ul class="">
                @foreach (var item in @items!)
                {
                    <li>
                        <a class="" href="~/Store/workbooks/@item">@item</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
