@{
    ViewData["Title"] = "workbook";
    ViewData["SubTitle"] = "workbooks";
}

<div class="card knowledge-card">
    <div class="card-body">
        <h2 class="card-title p-2">
            @ViewData["Title"]
        </h2>
        <h3 class="card-subtitle p-3 text-muted">
            @ViewData["SubTitle"]
        </h3>
        <p class="card-text p-2">Example of card text.</p>
        <div class="card-footer">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="p-4 card-link">
                <i title="two" class="bi bi-1-circle-fill" style="font-size: 3rem;"></i>
            </a>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="p-4 card-link">
                <i title="two" class="bi bi-2-circle-fill" style="font-size: 3rem;"></i>
            </a>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="p-4 card-link">
                <i title="two" class="bi bi-3-circle-fill" style="font-size: 3rem;"></i>
            </a>
        </div>
    </div>
</div>
