<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>@ViewData["Title"]</title>
</head>

<body>

  <main>

    @RenderBody()

  </main>

  <footer>
    <p>@ViewData["Title"] <a href="#">todo</a></p>
  </footer>

  <script></script>

</body>

</html>
