<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>@ViewData["Title"]</title>
</head>

<body>

  <main>

    <div>
      <div>
        <h2>DummyRoster Web</h2>
      </div>
      <div>
        <h5>todo</h5>
        <p>todo</p>
        <a href="#">todo</a>
      </div>
      <div>
        todo
      </div>
    </div>

  </main>

  <footer>
    <p><a href="#">todo</a></p>
  </footer>

  <script></script>

</body>

</html>
