@page
@model DummyRoster.Web.Carrier.DummyRosterFeature.Pages.CarrierModel

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Carrier</title>
</head>
<body>
</body>
</html>
