@{
  ViewData["Title"] = "PivotUp";
}

<div class="uk-text-center uk-card-body uk-animation-scale-up uk-transform-origin-top-center">
  <h1 class="uk-heading-large">Ledger</h1>
  <p>
    <a asp-area="" asp-controller="Ledger" asp-action="Workbooks">
      <span title="todo download workbook" uk-icon="icon: folder; ratio: 3"></span>
    </a>
  </p>
</div>
