@page
@using DummyRoster.Common.EntityModel.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model DummyRoster.Web.Supplier.DummyRosterFeature.Pages.SupplierModel

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Supplier</title>
</head>
<body>
</body>
</html>
